.layout {
	height: 100vh;

	.tags-nav{
		

		.ivu-tag:hover{
			opacity: 0.8;
			cursor: pointer;
		}
		.ivu-tag-dot,.ivu-tag-dot-inner{
			transition: all .5s;
		}
	}
	

	>.ivu-layout {
		height: 100%;
	}

	.header-bar {
		background-color: white;
		padding: 0 20px;

		.collapsed-icon:hover {
			color: #2D8CF0;
			cursor: pointer;
		}

		&-row {
			padding-right: 20px;

			&-avatar:hover {
				cursor: pointer;
			}

			.icon {
				vertical-align: middle;
			}
		}
	}

	.layout-header-bar {
		padding: 0;
	}

	.main-content-con {
		flex: 1;
		display: flex;

		.main-layout-con {

			.content-wrapper {
				overflow: auto;
				height: 0;
				padding: 20px;
			}
		}


	}

	.logo-con {
		height: 64px;
		padding: 10px;
		overflow: hidden;

		img {
			height: 44px;
			width: auto;
			display: block;
			margin: 0 auto;
		}
	}
	.collapsed-menu{
		display: grid;
		column-gap: 20px;

		.collapsed-item {
			.drop-menu-a {
				display: flex;
				align-items: center;
				padding: 8px 0 8px 16px;
				box-sizing: border-box;
	
				.icon {
					margin-right: 3px;
				}
			}
		}
	
		.menu-icon:hover {
			cursor: pointer;
		}

		&-row{
			background-color: red;
		}
	}
	

}